body {
  font-family: DM Sans;
  height:100%;
}


/* Paddings */

.p-24 {
  padding: 24px;
}

/* Margins */

.h-m-0 {
  margin: 0;
}

.h-my-32 {
  margin: 32px 0;
}

.h-my-24 {
  margin: 24px 0;
}

.h-my-16 {
  margin: 16px 0;
}

.h-mr-72 {
  margin-right: 72px;
}

.h-mr-16 {
  margin-right: 16px;
}

.h-mr-8 {
  margin-right: 8px;
}

.h-mb-64 {
  margin-bottom: 64px;
}

.h-mb-32 {
  margin-bottom: 32px;
}

.h-mb-24 {
  margin-bottom: 24px;
}

.h-mb-16 {
  margin-bottom: 16px;
}

.h-mb-8 {
  margin-bottom: 8px;
}

.h-mb-4 {
  margin-bottom: 4px;
}

.h-mb-0 {
  margin-bottom: 0;
}

/* Text classes */

.text-body-2 {
  font-feature-settings: "clig" off, "liga" off;
  /* Body / Body 2 */
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.text-body-3 {
  font-feature-settings: "clig" off, "liga" off;
  /* Body / Body 3 */
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}

.text-bold-2 {
  font-feature-settings: "clig" off, "liga" off;
  /* Bold / Bold 2 */
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
}

.text-bold-3 {
  font-feature-settings: "clig" off, "liga" off;
  /* Bold / Bold 3 */
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 166.667% */
}

.text-heading-2 {
  font-feature-settings: "clig" off, "liga" off;
  /* Heading / Heading 2 */
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 160% */
}

/* Text colors */

.text-color-success {
  color: #00b090;
}

.text-color-dark {
  color: #1d1e20;
}

.text-color-gray {
  color: #727586;
}

.text-color-primary {
  color: #673de6;
}

/* Background colors */

.background-success-light {
  background-color: #def4f0;
}

/* Custom classes */

.page-number {
  color: #727586;
  position: absolute;
  bottom: 0;
  left: 50%;
}

.page-header {
  display: flex;
  display: -webkit-box; /* wkhtmltopdf uses this one */
  color: #727586;
  width: 100%;
  justify-content: space-between;
  -webkit-box-pack: justify;

}

/* Flexbox classes */

.d-flex {
  display: -webkit-box; /* wkhtmltopdf uses this one */
  display: flex;
}

.flex-column {
  flex-direction: column;
  -webkit-box-orient: vertical;
}

.justify-content-between {
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.justify-content-center {
  -webkit-box-pack: center; /* wkhtmltopdf uses this one */
  justify-content: center;
}

.align-items-center {
  display: -webkit-box;
  -webkit-box-align: center;
  align-items: center;
}
